<div class="p-2">
  <div id="icon-list">
    <ul class="list-inline">
      {% for item in site.data.navigation %}
        <li>
          <a href="{{ item.link }}" {% if page.url == item.link %}style="font-weight: bold;"{% endif %}>
            <button type="button" class="btn btn-vertical btn-outline-dark mb-2">
              {{ item.name }}
            </button>
          </a>
        </li>
      {% endfor %}
    </ul>
        
    <ul class="list-inline">
      
      {% for item in site.data.links %}
        <li>
          <a href="{{ item.link }}" >
            <i class="fa fa-{{item.name}} fa-lg"></i>
          </a>
        </li>
      {% endfor %}
              
    </ul>
  </div>
</div>


<!-- old mobile version
<div class="row justify-content-center align-items-center">
          <div class="col-8 p-1 text-center">
            <div class="list-group">
                  
              {% for item in site.data.links %}
                <a href="{{ item.link }}" >
                  <button type="button" class="btn btn-vertical btn-outline-dark mb-2">
                    {{ item.name }}
                  </button>
                </a>
              {% endfor %}
                  
            </div>
          </div>
        </div>
-->
