/* writing handmade CSS! Where I actually know what all of it does! */

h1,h2,h3,h4,h5,h6{
  margin-top:0;
  margin-bottom:.5rem;
  font-weight:500;
  line-height:1.2
}
h1{
  font-size:2.5rem
}
h2{
  font-size:2rem
}
h3{
  font-size:1.75rem
}
h4{
  font-size:1.5rem
}
h5{
  font-size:1.25rem
}
h6{
  font-size:1rem
}

b,strong{
  font-weight:bolder
}

dl,ol,ul,p{
  margin-top:0;
  margin-bottom:1rem
}

/* nothing for li */

a{
  color: #000000;
  font-weight: 500;
  text-decoration: none;
  background-color: transparent
}

@media (hover: hover){
  a:hover{
    text-decoration:underline
  } 
  
  a.a-no-underline:hover {
    text-decoration:none
  }
}

/* Custom navbar */
.nav-outer{
  list-style-type: none;
  margin: auto;
  padding: 0;
  width: 80%;
  max-width: 300px;
  background-color: #558BDD;
}

.nav-inner{
  display: block;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
}

@media (hover: hover){
  .nav-inner:hover:not(.current-page){
    background-color: #4777bf;
    color: white;
  }
  .nav-inner:hover{
    text-decoration: none;
  }
}

.current-page{
  background-color: #0E2444;
  color: white;
  text-decoration: none;
}

/* I should test if I need these! */
footer,main{
  display:block
}

footer{
  font-size:smaller
}

hr.hr-60pct{
  width: 60%
}

/*
think about font families - maybe put those up in :root?
Also, might need a word-wrap or something for pre if things look weird
*/
code,pre{
  font-family:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

/* Probably move some/all of this to a separate class!! */
img{
  vertical-align:middle;
  border-style:none;
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
}

img.rounded{
  border-radius:.25rem
}

.hidden{
  display: none
}

@media (min-width:992px){
  div.show-when-wide{
    display: block
  }
}

@media (max-width:991px){
  div.show-when-narrow{
    display: block
  }
}

.container-80pct{
    width:80%;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto
}

/* Classes used in flexcolumns.html layout:

d-flex


row
col
col-3
col-8
flex-row
flex-column

align-items-center
text-center
align-self-center
justify-content-center

rounded
border-left

I kind of feel like the below are better done as on-the-fly styling?? I should probably read a little about best practices.

vh-100
mx-auto
p-1
p-2
p-3
px-5
mh-100
my-5
min-vh-100
mt-3
pt-4

fa: maybe make a class here? might be overkill.

*/
