/* writing handmade CSS! Where I actually know what all of it does! */

h1,h2,h3,h4,h5,h6{
  margin-top:0;
  margin-bottom:.5rem;
  font-weight:500;
  line-height:1.2
}
h1{
  font-size:2.5rem
}
h2{
  font-size:2rem
}
h3{
  font-size:1.75rem
}
h4{
  font-size:1.5rem
}
h5{
  font-size:1.25rem
}
h6{
  font-size:1rem
}

/* The usual suspects:
ul, ol, li, a, p, html, footer, hav, article, aside, body, hr, b, strong, code, pre, img, caption, button

*/

/* Classes used in flexcolumns.html layout:

container-fluid
d-none
d-lg-block
d-xl-block
d-flex
row
flex-row
vh-100
flex-column
col-3
align-items-center
text-center
align-self-center
mx-auto
p-3
rounded
p-2
border-left
col
px-5
mh-100
my-5
container-flex
min-vh-100
d-block
d-lg-none
d-xl-none
justify-content-center
mt-3
pt-4
px-5

*/

/* Classes used in navigation.html (mostly made by me) avoiding duplicates:

nav-outer
nav-inner
current-page
a-no-underline
col-8
p-1
fa, etc.

*/
