---
layout: default
---
<!-- Desktop, two-column version of layout --> 
<div class="container-fluid d-none d-lg-block d-xl-block">
  <div class="d-flex row flex-row vh-100">
    <div class="d-flex flex-column col-3 align-items-center text-center align-self-center">
      <div class="mx-auto text-center">
        <div class="p-3">
          <img src="{{page.headshot}}" class="rounded">
        </div>
        <div class="p-2">
          <h1>{{ page.myname }}</h1>
        </div>
        <hr style="width:60%;"/>
        
        {% include navigation.html %}

      </div>
    </div>
    <div class="d-flex flex-column vh-100 border-left">
    </div>
    <div class="d-flex flex-column col px-5 align-items-center align-self-center mh-100" style="overflow-y: scroll;">
      <div class="my-5" id="content">
        {{ content }}
      </div>
      <footer>
        <p>
          Site by <a href="https://github.com/dennisbrookner">Dennis Brookner</a> |
          Hosted on GitHub Pages | Templated from <a href="https://github.com/seankross">Sean Kross</a>
        </p>
      </footer>
    </div>
  </div>
</div>

<!-- Mobile/Narrow Screen, one-column version of layout --> 

<div class="container-flex min-vh-100 d-block d-lg-none d-xl-none">
  <div class="d-flex flex-row justify-content-center">
    <div class="d-flex flex-col">
      <div class="mx-auto">
        <div class="p-3 mt-3 text-center">
          <img src="{{page.headshot}}" width="200" class="rounded">
        </div>
        <div class="p-2 text-center">
          <h1>{{ page.myname }}</h1>
        </div>
        <hr style="width:60%;"/>

        {% include navigation.html %}
        
        <hr style="width:60%;"/>
        
        <div class="p pt-4 px-5">
          {{ content }}
        </div>
    
      <footer class="px-5">
        <p>
          Site by <a href="https://github.com/dennisbrookner">Dennis Brookner</a>
          <br>
          Hosted on GitHub Pages
          <br>
          Templated from <a href="https://github.com/seankross/postcards">Sean Kross</a>
        </p>
      </footer>
    </div>
  </div>
</div>


